.buttonContainer {
  flex: 1;
  display: flex;
}

.button {
  position: relative;
  padding: 10px 16px;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  white-space: nowrap;
  font-weight: 600;
  cursor: pointer;
  background-color: #1b6396;
  border: 2px solid #adb0b2;
  color: #ffffff;
}

.button:hover {
  background-color: #0d5385;
}

.button:active {
  background-color: #093859;
}

.buttonDisabled {
  border: 2px solid #adb0b2;

  color: #adb0b2;
  background-color: #ebeef0;
  pointer-events: none;
}

.buttonYes {
  border: 2px solid #008600;
  background-color: #bfecbf;
  color: #313233;
}

.buttonYes:hover {
  background-color: #40c540;
  color: #ffffff;
}

.buttonYes:active {
  background-color: #008600;
  color: #ffffff;
}

.buttonNo {
  border: 2px solid #b20000;
  background-color: #f9bfbf;
  color: #313233;
}

.buttonNo:hover {
  background-color: #f24949;
  color: #ffffff;
}

.buttonNo:active {
  background-color: #b20000;
  color: #ffffff;
}
