.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  @media screen and (max-width: 769px) {
    overflow-x: hidden;
  }
}

/* .wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
} */

/* .todoList {
  display: flex;
  flex-direction: column;
  gap: 5px;
} */
