@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #313233;
  background-color: #ebeef0;

  &::-webkit-scrollbar {
    position: relative;
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #cdd1d4;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f7f9fa;
    border-radius: 10px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 20px;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #313233;
}

button,
input,
select,
textarea,
option {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  outline: none;
  border: none;
  padding: 0;
}

#root {
  display: flex;
  min-height: 100%;
}
